
		<div class="panel panel-default history">
		  <div class="panel-heading "><span class="fa close_btn pull-right" title="CLOSE"></span></div>
		  <div class="reader_details">
		  <div class="userName"><span class="glyphicon glyphicon-user pull-left" style="font-size: 20px; padding-right: 10px;
"></span><strong>Logged in as : </strong></div>
		  <div class="bookName"><span class="glyphicon glyphicon glyphicon-book pull-left" style="font-size: 20px; padding-right: 10px;
"></span><strong>Book name : </strong></div>
<div class="" style="
    margin-top: 13px;
"><span class="glyphicon glyphicon pull-left" style="font-size: 20px; padding-right: 10px; margin-top:10px;
"></span><a href="
https://asce770prodebiz.personifycloud.com/PersonifyEbusiness/My-Account.aspx" style="
    text-decoration: none;
">Manage My Account</a> </div>

<div class="admincomomn" style="
    margin-top: 13px;
"></div>

		  
		  <div class="panel-body" style="
    margin-top: -30px;
">
			<a href="javascript:void(0)" class="logout_btn btn btn-primary pull-right"></a>
	 	 </div>
		</div>
		
		
		