<div class="panel panel-default notes">
		  <div class="panel-heading"><span class="fa close_btn pull-right" title="CLOSE"></span></div>
		  <div class="panel-body notes_filter">
			<!--<div class="radio">
			  <label class="current_chapter"><input type="radio" name="history_rdo_btn">Current Chapter</label>
			</div>
			<div class="radio">
			  <label class="all_chapter"><input type="radio" name="history_rdo_btn" checked>All Chapter</label>
			</div>
            <div class="radio">
			  <label class="filter_chapter">
              	<input type="radio" name="history_rdo_btn" id="current">
  			  	<span class="current">Current Chapter</span>
			  	<input type="radio" id="all" checked="" name="history_rdo_btn">
              	<span class="all">All Chapter</span></label>
			</div>-->
            <div class="radio">
			  <label for="current"><input type="radio" name="history_rdo_btn" id="current"><span class="current"></span></label>
			  <label for="all"><input type="radio" id="all" checked="" name="history_rdo_btn"><span class="all"></span></label>
			</div>
			<div class="search_area">
				<input type="text" class="form-control">
				<span class="clear"><i class="fa fa-times"></i></span>
			</div>
		  </div>
		</div> 
		<div class="table-responsive notes_list">          
		  <table class="table  table-condensed">
			<thead class="b_blue">
			  <tr>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			  </tr>
			</thead>
			<tbody class="note_list_container">
			  <tr class="notes">
				<td class="note_content"></td>
				<td class="note_sec_id"></td>
				<td><span class="glyphicon glyphicon-remove"></span></td>
			  </tr>
			</tbody>
		  </table>
		  </div>