<div class="panel panel-default">
		  <div class="panel-heading "><span class="fa close_btn pull-right"></span></div>
		  <div class="panel-body">
		    <form class="form-horizontal" role="form">
				<div class="radio">
				  <label for="curChap" style="margin:0 10px;"><input type="radio" name="print_chap" class="" checked="checked" id="curChap"><span class=""></span></label>
				  <label for="selChap" style="margin:0 10px;"><input type="radio" id="selChap" name="print_chap"><span class=""></span></label>
				</div>
				<div class="filter_container hide">
					<div class="form-group">
					  <label class="chap_label">
						<span class="pull-right"></span>
					  </label>
					  <div class="chap_select">    
						  <select class="form-control chapter_list" >
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						  </select>
					  </div>
					</div>
					<div class="form-group">
					  <label  class="chap_label"><span class="pull-right"></span></label>
					  <div class="chap_select">    
						  <select class="form-control section_list">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						  </select>
					  </div>
					</div>
				</div>
				<div class="form-group text-center" style="margin-top:15px">
					<button type="button" class="btn btn-primary cancel"></button>
					<button type="button" class="btn btn-primary print_btn"></button>
				</div>
		    </form>
			</div>
		</div>
