		<div class="panel panel-default search_header">
			<div class="panel-heading"><span class="fa close_btn pull-right" title="CLOSE"></span></div>
		</div>
		<div class="search_panel">
			<div class="search_area">
				<input type="text" class="form-control">
				<span class="clear" style="display:none ;"><i class="fa fa-times"></i></span>
			</div>
			<!--<div class="input-group">
			  <input type="text" class="form-control" placeholder="Search Keyword" aria-describedby="basic-addon2">
			  <span class="input-group-addon" id="basic-addon2"><span class="search_icon"></span></span>
			</div>
			<span class="advance_search">Advance Search</span>-->
		
		
			<div class="advance_filter">
				<div class="panel panel-default advanced_search_pannel">
				  <div class="panel-heading b_darkblue"><span class="glyphicon glyphicon-chevron-down pull-right"></span></div>
				  <div class="panel-body ">
                     <div class="refine_search">
						 <div class="panel-heading b_gray"></div>
						<div class="checkbox">
						  <label class="figure_caption"><input type="checkbox" name="figure_caption" value=""></label>
						</div>
						<div class="checkbox">
						  <label class="table_caption"><input type="checkbox" name="table_caption" value=""></label>
						</div>
						<div class="checkbox">
						  <label class="table_content"><input type="checkbox" name="table_content" value=""></label>
						</div>
						<div class="checkbox">
						  <label class="reference"><input type="checkbox" name="reference" value=""></label>
						</div>
						<div class="checkbox">
						  <label class="appendixes"><input type="checkbox" name="appendixes" value=""></label>
						</div>
						
						 
				
                     </div>
                     <div class="filter_chapter">   
						<label class="filter_checkbox b_green page_seach"><input type="checkbox" name="page_seach" value="" checked></label>
						<label class="filter_checkbox b_blue commentry_seach"><input type="checkbox" name="commentry_seach" value="" checked></label>
						<label class="radio-inline Current"><input type="radio" name="chapter_search" id="Current"></label>
						<label class="radio-inline All"><input type="radio" name="chapter_search" checked="checked" id="All"></label>
						<div class="radio">
							<label class="Selected"><input type="radio" name="chapter_search" id="Selected"></label>
							<div class="form-group">
							  <label class="adv_srch_chap_from" for="adv_srch_chap_from"></label>
							  <select class="form-control" id="adv_srch_chap_from">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
							  </select>
							  <label class="adv_srch_chap_to" for="adv_srch_chap_to"></label>
							  <select class="form-control" id="adv_srch_chap_to">
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
							  </select>
							</div>
						</div>
                       </div>
				  </div>
				</div>
				<div class="col-sm-12 btn_container">
					<div class="text-center	">
						<button type="button" class="btn btn-primary search_btn"></button>
						<button type="button" class="btn btn-primary cancel"></button>
					</div>
				</div>
			</div>
			<div class="panel panel-default search_result">
			  <div class="panel-heading b_blue"><span class="pull-left"></span><span class="pull-right"></span></div>
			  <div class="panel-body search_container"></div>
			</div>
		</div>
			
			
<!--
			<div class="panel panel-default">
			  <div class="panel-heading b_blue">Chapter </div>
			  <div class="panel-body">
					<label class="radio-inline"><input type="radio" name="Chapter">Current</label>
					<label class="radio-inline"><input type="radio" name="Chapter">All</label>
					<div class="form-group">
					  <label for="From">From:</label>
					  <select class="form-control" id="From">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					  </select>
					  <label for="To">To:</label>
					  <select class="form-control" id="To">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					  </select>
					</div>
			  </div>
			</div>
			<div class="panel panel-default">
			  <div class="panel-heading b_blue">Section</div>
			  <div class="panel-body">
					<label class="radio-inline"><input type="radio" name="Chapter">Current</label>
					<label class="radio-inline"><input type="radio" name="Chapter">All</label>
					<div class="form-group">
					  <label for="From">From:</label>
					  <select class="form-control" id="From">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					  </select>
					  <label for="To">To:</label>
					  <select class="form-control" id="To">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					  </select>
					</div>
			  </div>
			</div>

			<div class="panel panel-default">
			  <div class="panel-heading b_blue">Commentry</div>
			  <div class="panel-body">
					<label class="radio-inline"><input type="radio" name="Chapter">Current Chapter</label>
					<label class="radio-inline"><input type="radio" name="Chapter">All Chapter</label>
					<div class="form-group">
					  <label for="From">From:</label>
					  <select class="form-control" id="From">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					  </select>
					  <label for="To">To:</label>
					  <select class="form-control" id="To">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
					  </select>
					</div>
			  </div>
			</div>
			
			
			-->
